.recext
{
    width: 50%;
    height: max-content;
    border: none;
    /* border-radius: 7% 7% 7% 1%; */
    /* background-color: whitesmoke; */
  
}
.recint{
    min-width: 20%;
    max-width: 50%;
    margin:2% ;
    padding: 1%;
    border: 1px solid var(--chat-color);
    background-color: var(--chat-color);
    border-radius: 7% 7% 7% 1%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recdtl{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: end;
}
.msgphase{
    margin-left:5%;
}
